{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


                        {% block content %}

                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">Your password is now changed </h4>
                                <div class="nk-block-des text-success">
                                    <p>Password change successfully </p>
                                    <a href="{% url 'account_login' %}" title="">Login to your account</a>
                                </div>
                            </div>
                        </div>

                        {% endblock content %}