{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


                        {% block content %}


                        <div class="form-inner container-fluid">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h2 class="nk-block-title">Reset password</h5>
                                        <div class="nk-block-des">
                                            <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                                        </div>
                                    </div>
                                </div>
                                <form method="POST" action="{% url 'account_reset_password' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form|crispy}}
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">Send Reset Link</button>
                                    </div>
                                </form>
                                <div class="form-note-s2 text-center pt-4">
                                    <a href="{% url 'account_login' %}"><strong>Return to login</strong></a>
                                </div>
                            </div>
                        </div>


                        <style>
                            .form-inner{
                                width: 500px;
                                margin: auto;
                                position: relative;
                            }
                            form{
                                margin-top: 20px;
                            }
                            label, input{
                                width: 100%;
                            }
                            input, select, button{
                                display: inline-block;
                                width: 100%;
                                padding: 10px;
                                background-color: transparent;
                                outline: none;
                                border: 1px solid var(--blue-dark-fourth-color);
                                border-radius: 5px;
                                color: #fff;
                                margin-bottom: 25px;
                                margin-top: 10px;
                            }
                            input:focus{
                                border-color: var(--yellow-color);
                            }
                            button{
                                cursor: pointer;
                            }
                            button:hover{
                                background-color: var(--yellow-color);
                                color: #000;
                            }
                            input[type=checkbox]{
                                width: initial;
                                margin-top: 3px;
                                margin-right: 10px;
                            }
                            a{
                                color: var(--yellow-color);
                            }
                            @media (max-width: 768px){
                                .form-inner{
                                    width: fit-content;
                                }
                            }
                        </style>









                        {% endblock content %}