{% extends "base.html" %}
{% load static %}


{% block content %}




    <!-- container-one start -->
    <div class="container-one">
        <div class="container-fluid">
            <div class="grid-row">
                <!-- grid one start -->
                <div class="grid-one">
                    <!-- txt  start -->
                    <div class="txt">
                        <div class="txt-inner">
                            <h5 style="color: var(--yellow-color);text-decoration: underline;">BTC-USDT</h5>
                            <div class="image">
                                <img src="images/btc.png" alt="">
                                <h5 style="font-weight: 600;">Bitcoin</h5>
                            </div>
                        </div>

                        <div class="txt-inner">
                            <p class="topp">Last Price</p>
                            <p style="color: var(--green-second-color);">67322.31</p>
                        </div>

                        <div class="txt-inner">
                            <p class="topp">24h Change</p>
                            <p style="color: var(--green-second-color);">1.88%</p>
                        </div>

                        <div class="txt-inner">
                            <p class="topp">24h High</p>
                            <p>67980.00</p>
                        </div>

                        <div class="txt-inner">
                            <p class="topp">24h Low</p>
                            <p>65551.00</p>
                        </div>

                        <div class="txt-inner">
                            <p class="topp">24h Volume</p>
                            <p>53591.4174</p>
                        </div>
                    </div>
                    <!-- txt end -->

                    <!-- widget-column start -->
                    <div class="widget-column">
                        <div class="wid-chart">
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container" style="height:100%;width:100%">
                            <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                            {
                            "autosize": true,
                            "symbol": "BINANCE:BTCUSDT",
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "dark",
                            "style": "1",
                            "locale": "en",
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "calendar": false,
                            "support_host": "https://www.tradingview.com"
                            }
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                        </div>
                        
                        <div class="wid-txt">

                            <div class="one">
                                <ul>
                                    <li><p>Price</p></li>
                                    <li><p>Amount</p></li>
                                    <li><p>Total</p></li>
                                </ul>
                                <div class="first-scr">
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>1178.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--red-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="two">
                                <div class="only-txt">
                                    <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                </div>

                                <div class="first-scr">
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                    <ul>
                                        <li><p style="color: var(--green-second-color);">66977.72</p></li>
                                        <li><p>0.0298</p></li>
                                        <li><p>11.40</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- widget-column end -->

                    <div class="op">
                        <span style="font-weight: 500;">Open orders</span>
                    </div>

                    <div class="ul-l">
                        <ul>
                            <li><p>Date</p></li>
                            <li><p>Pair</p></li>
                            <li><p>Side</p></li>
                            <li><p>Price</p></li>
                            <li><p>Amount</p></li>
                            <li><p>Total</p></li>
                        </ul>

                    </div>

                    <div class="log">
                        <span><a href="">Log In</a> or <a href="">Register Now</a> to trade</span>
                    </div>

                </div>
                <!-- grid one end -->


                <!-- grid two start -->
                <div class="grid-two">
                    <div class="grid-two-inner">
                        <div class="top-but">
                            <button class="btn-1" onclick="buyBtn()"><span>Buy</span></button>
                            <button class="btn-2" onclick="sellBtn()"><span>Sell</span></button>
                        </div>

                        <div class="pos-hom">
                            <!-- buy start -->
                            <div class="posi-set buy">
                                <div class="sec-top">
                                    <span class="limA active" onclick="limOne()">Limit</span>
                                    <span class="limB" onclick="limTwo()">Market</span>
                                    <span class="limC" onclick="limThree()">Stop-Limit</span>
                                </div>

                                <div class="sec-body">

                                    <!-- limit row start -->
                                    <div class="limit-row-one">
                                        <div class="txt-to">
                                            <h5>Buy BTC</h5>
                                            <h5><i class="far fa-credit-card"></i> - USDT</h5>
                                        </div>

                                        <div class="input-box">
                                            <p>Price</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Amount</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Total</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>
                                    </div>
                                    <!-- limit row end -->

                                    <!-- limit row start -->
                                    <div class="limit-row-two">
                                        <div class="txt-to">
                                            <h5>Buy BTC</h5>
                                            <h5><i class="far fa-credit-card"></i> - USDT</h5>
                                        </div>

                                        <div class="input-box">
                                            <p>Price</p>
                                            <input type="text" value="Market">
                                            <p>USDT</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Quantity</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>
                                    </div>
                                    <!-- limit row end -->

                                    <!-- limit row start -->
                                    <div class="limit-row-three">
                                        <div class="txt-to">
                                            <h5>Buy BTC</h5>
                                            <h5><i class="far fa-credit-card"></i> - USDT</h5>
                                        </div>

                                        <div class="input-box">
                                            <p>Price</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Amount</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Stop</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Total</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>
                                    </div>
                                    <!-- limit row end -->


                                    <!-- progress start -->
                                    <div class="progress">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="line"></div>
                                    </div>
                                    <!-- progress end -->

                                    
                                    <!-- button submit start -->
                                    <button type="submit" class="submit-btn">Buy BTC</button>
                                    <!-- button submit end -->

                                    
                                </div>
                            </div>
                            <!-- buy end -->

                            <!-- sell start -->
                            <div class="posi-set sell">
                                <div class="sec-top">
                                    <span class="limAS active" onclick="limOneS()">Limit</span>
                                    <span class="limBS" onclick="limTwoS()">Market</span>
                                    <span class="limCS" onclick="limThreeS()">Stop-Limit</span>
                                </div>

                                <div class="sec-body">

                                    <!-- limit row start -->
                                    <div class="limit-row-oneS">
                                        <div class="txt-to">
                                            <h5>Sell BTC</h5>
                                            <h5><i class="far fa-credit-card"></i> - USDT</h5>
                                        </div>

                                        <div class="input-box">
                                            <p>Price</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Amount</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Total</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>
                                    </div>
                                    <!-- limit row end -->

                                    <!-- limit row start -->
                                    <div class="limit-row-twoS">
                                        <div class="txt-to">
                                            <h5>Sell BTC</h5>
                                            <h5><i class="far fa-credit-card"></i> - USDT</h5>
                                        </div>

                                        <div class="input-box">
                                            <p>Price</p>
                                            <input type="text" value="Market">
                                            <p>USDT</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Quantity</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>
                                    </div>
                                    <!-- limit row end -->

                                    <!-- limit row start -->
                                    <div class="limit-row-threeS">
                                        <div class="txt-to">
                                            <h5>Sell BTC</h5>
                                            <h5><i class="far fa-credit-card"></i> - USDT</h5>
                                        </div>

                                        <div class="input-box">
                                            <p>Price</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Amount</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Stop</p>
                                            <input type="text" value="0">
                                            <p>BTC</p>
                                        </div>

                                        <div class="input-box">
                                            <p>Total</p>
                                            <input type="text" value="0">
                                            <p>USDT</p>
                                        </div>
                                    </div>
                                    <!-- limit row end -->


                                    <!-- progress start -->
                                    <div class="progress">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="line"></div>
                                    </div>
                                    <!-- progress end -->

                                    
                                    <!-- button submit start -->
                                    <button type="submit" class=" submit-btn submit-btn-2">Buy BTC</button>
                                    <!-- button submit end -->
                                    
                                </div>
                            </div>
                            <!-- sell end -->
                        </div>


                        <div class="sec-body">
                        
                            <div class="tra">
                                <span style="font-weight: 500;">Market Trades</span>
                            </div>

                            <ul style="margin-top: 20px;">
                                <li><p>Price (USDT</p></li>
                                <li><p>Amount (BTC)</p></li>
                                <li><p>Time</p></li>
                            </ul>
                                
                            <div class="first-scr">
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--red-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--red-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--red-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--red-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                                <ul>
                                    <li><p style="color: var(--green-second-color);">147.58</p></li>
                                    <li><p>0.32</p></li>
                                    <li><p>20:11:58</p></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- grid two end -->
            </div>
        </div>
    </div>
    <!-- container-one end -->









{% endblock content %}