{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}




{% block structure_data %}

<!-- Structured Data -->
<h1>SERVICES STRUCTURE DATA</h1>

{% endblock structure_data %}



{% block content %}





{% endblock content %}



<table border="1">
  <thead>
    <tr>
      <th>Head Title</th>
      <th>Last Price</th>
      <th>24 Change</th>
      <th>24 High</th>
      <th>24 Low</th>
      <th>Volume</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Role 1</td>
      <td>$100.00</td>
      <td>+2.50</td>
      <td>$105.00</td>
      <td>$98.00</td>
      <td>10000</td>
      <td><a href="#">Trade</a></td>
    </tr>
    <tr>
      <td>Role 2</td>
      <td>$95.00</td>
      <td>-1.20</td>
      <td>$98.50</td>
      <td>$93.00</td>
      <td>8500</td>
      <td><a href="#">Trade</a></td>
    </tr>
    <tr>
      <td>Role 3</td>
      <td>$110.50</td>
      <td>+3.20</td>
      <td>$115.00</td>
      <td>$108.00</td>
      <td>12000</td>
      <td><a href="#">Trade</a></td>
    </tr>
    <tr>
      <td>Role 4</td>
      <td>$85.00</td>
      <td>-2.00</td>
      <td>$88.00</td>
      <td>$82.50</td>
      <td>7500</td>
      <td><a href="#">Trade</a></td>
    </tr>
    <tr>
      <td>Role 5</td>
      <td>$120.00</td>
      <td>+5.00</td>
      <td>$125.00</td>
      <td>$115.00</td>
      <td>15000</td>
      <td><a href="#">Trade</a></td>
    </tr>
    <tr>
      <td>Role 6</td>
      <td>$102.50</td>
      <td>+1.80</td>
      <td>$105.50</td>
      <td>$100.00</td>
      <td>10500</td>
      <td><a href="#">Trade</a></td>
    </tr>
  </tbody>
</table>



