{% load crispy_forms_tags %}



    {% include "message.html" %}

        <div class="form-block sidebarform">
          <h4> Let's Talk</h4>
          <form method="POST" action="{% url 'contact:form_submission' %}" enctype="multipart/form-data">
            <div class="row">
              {{quote_form|crispy}}
            </div>
            <button type="submit" id="form-submit" class="btn lnk btn-main bg-btn">Submit <span class="circle"></span></button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
            {% csrf_token %}
          </form>
        </div>